<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math</title>
</head>
<body>
    <form action="" method="post">
        <li>Nhập vào số a:</li>
        <input type="number" name="a" id="a">
        <li>Nhập vào số b:</li>
        <input type="number" name="b" id="b"><br>
        <input type="submit" value="Tính toán">
    </form>
    <div>cộng : {{cong}}</div>
    <div>trừ : {{tru}}</div>
    <div>nhân : {{nhan}}</div>
    <div>chia : {{chia}}</div>
</body>
</html>